
<div class="navbar navbar-custom navbar-fixed-top">
 <div class="navbar-header">
  <a class="navbar-brand" href="#">Favorite Locations</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
  </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            {{google-map-autocomplete action="createNewPlace"}}
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-map-marker"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid" id="main">
  <div class="row">
    {{outlet}}
  </div>
</div>

