
<div class="navbar navbar-custom navbar-fixed-top">
 <div class="navbar-header">
  <a class="navbar-brand" href="#">Favorite Locations</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
  </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-form">
        <div class="form-group" style="display:inline;">
          {{google-map-autocomplete action="createNewPlace" value=newAddress}}
        </div>
      </div>
    </div>
</div>

<div class="container-fluid" id="main">
  <div class="row">
    {{outlet}}
  </div>
</div>

